################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PaymentAPI/DesignTimeBuild/.dtbcache.v2
/.vs/PaymentAPI/FileContentIndex/100f2ec6-f32e-465e-a04b-4c2fcea8ed04.vsidx
/.vs/PaymentAPI/FileContentIndex/280cbcb9-b14d-4074-8b18-c64d4b242c58.vsidx
/.vs/PaymentAPI/FileContentIndex/29d7b6d1-d776-4427-8858-85f8d0fd5401.vsidx
/.vs/PaymentAPI/FileContentIndex/69cdb59c-684f-4b53-b53f-da3efac21c2a.vsidx
/.vs/PaymentAPI/FileContentIndex/6c80ff2c-c793-4dde-851c-a1997ec8f338.vsidx
/.vs/PaymentAPI/FileContentIndex/6e9ddb1c-8432-404b-971b-6fbc0cc07589.vsidx
/.vs/PaymentAPI/FileContentIndex/95373ddb-ba4a-4339-b092-dfb8951e5df7.vsidx
/.vs/PaymentAPI/FileContentIndex/ae312926-aaff-4de5-8108-d7ff59f850ea.vsidx
/.vs/PaymentAPI/FileContentIndex/b17b7881-ca6b-460e-aa52-9bf4f33a9626.vsidx
/.vs/PaymentAPI/FileContentIndex/df0e2e33-636d-49c6-ba8d-72d200a6f8d7.vsidx
/.vs/PaymentAPI/v17/.suo
/.vs/PaymentAPI/v17/DocumentLayout.backup.json
/.vs/PaymentAPI/v17/DocumentLayout.json
/PaymentAPI/bin/Debug/net8.0/PaymentAPI.dll
/PaymentAPI/bin/Debug/net8.0/PaymentAPI.exe
/PaymentAPI/bin/Debug/net8.0/PaymentAPI.pdb
/PaymentAPI/obj/Debug/net8.0/apphost.exe
/PaymentAPI/obj/Debug/net8.0/EndpointInfo/PaymentAPI.json
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfo.cs
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.AssemblyInfoInputs.cache
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.assets.cache
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.csproj.FileListAbsolute.txt
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.dll
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.GeneratedMSBuildEditorConfig.editorconfig
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.genruntimeconfig.cache
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.pdb
/PaymentAPI/obj/Debug/net8.0/PaymentAPI.sourcelink.json
/PaymentAPI/obj/Debug/net8.0/ref/PaymentAPI.dll
/PaymentAPI/obj/Debug/net8.0/refint/PaymentAPI.dll
/PaymentAPI/obj/PaymentAPI.csproj.nuget.dgspec.json
/PaymentAPI/obj/project.assets.json
/PaymentAPI/obj/project.nuget.cache
*.vsidx
